.toDoItem {
  width: 100%;
  background: var(--gray-500);
  display: flex;
  align-items: flex-start;
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 1rem;
  gap: 0.75rem;
}

.completeButton {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.25rem;
  border: 2px solid var(--blue);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.completeButton:hover {
  border-color: var(--blue-dark);
  background: var(--blue-dark-20-opacity);
}

.toDoItemCompleted .completeButton {
  background: var(--purple-dark);
  border-color: var(--purple-dark);
}

.toDoItemCompleted .completeButton:hover {
  background: var(--purple);
  border-color: var(--purple);
}

.toDoItem p {
  flex: 1;
  color: var(--gray-100);
}

.toDoItemCompleted p {
  text-decoration: line-through;
  color: var(--gray-300);
}

.deleteButton {
  color: var(--gray-300);
  border-radius: 4px;
  padding: 6px;
  line-height: 0;
}

.deleteButton:hover {
  color: var(--gray-300);
  background: var(--gray-400);
}


.deleteButton:hover svg {
  color: var(--danger);
}