.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  transform: translateY(-50%);
}

.wrapper input {
  flex: 1;
  background: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  padding: 1rem;
}

.wrapper button {
  background: var(--blue-dark);
  border-radius: 8px;
  padding: 1rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.wrapper button:hover {
  background: var(--blue);
}